body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
text-align: center;
}

.gamestyle{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-align: center;
    background-color: #34eba1;
    margin: 10px;
    border-radius: 25px;
    justify-content: center;
    overflow: auto;
    align-items: center;
}

.top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.transparent-button{
    background-color: transparent;
    color: black; /* Text color */
    border: 4px solid white; /* Optional: style the border */
    padding: 10px;
    border-radius: 25px; /* Optional: rounded corners */
    cursor: pointer;
    
}

.transparent-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Slight white overlay on hover */
  }


  #gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* Optional: Specify a fixed size for the gameboard */
    width: 500px;
    margin: auto;
  }
  
  .cell {
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    border: 0px solid #000; /* Add a visible border */
    background-color: #fff; /* Add a background color */
    /* Ensure cells have a size */
    width: 100%; /* Take full width of the grid column */
    height: 100px; /* Example fixed height */
    cursor: pointer;
  }

.cell:hover {
    background-color: #e0e0e0; /* Darker background on hover */
  }


.win-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
  
.win-message {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#header{
    padding: 20px;
}
.scoreboard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 4px solid black;
}

.score{
    font-size: 20px;
    font-weight: bold;
}

.button-team{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

#winPopup{
    display: none;
}